.navbar {
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  align-items: center;
}

.menuLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuLink:hover:not(.active) {
  background-color: #111111;
}

/* aktiver Link */
.active {
  background-color: #04AA6D;
}

/* rechtsbündiges Element */
.right {
  margin-left: auto;
}

/* kleine Reset-Regel für body falls benötigt */
:global(body) {
  margin: 0;
  padding: 0;
}
